.InputNormal {
  width: 500px;
  border-radius: 14px;
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 0 15px;
}

@media(max-width: 450px) {
  .InputNormal {
    width: 280px;
  }
}
@media(min-width: 451px) and (max-width: 720px) {
  .InputNormal {
    width: 300px;
  }
}
@media (min-width: 721px) and (max-width: 1200px) {
  .InputNormal {
    width: 500px;
  }
}
@media (min-width: 1201px) {
  .InputNormal {
    width: 700px;
  }
}