.bookWrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: box-shadow .2s;
  cursor: pointer;
  background: #f4f4f4;
  width: 182px;
}
.bookWrapper:hover {
  box-shadow: 0 0 50px rgba(0,0,0,1);
}
.bookImageWrapper {
  height: 270px;
  width: 100%;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookImage {
  max-width: 90%;
  max-height: 90%;
}
.bookInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
}

.bookInfoName {
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  min-height: 42px;
}

.bookInfoAuthor {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  min-height: 42px;
}
