.Search {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin: 15px 25px 35px;
}
.Search input {
  width: 500px;
  border-radius: 14px;
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 0 15px;
}
.Search button {
  border: none;
  border-radius: 14px;
  cursor: pointer;
  user-select:none;
  transition: background-color .1s;
}
.Search button:hover {
  background-color: lightskyblue;
}
.Search button:active {
  background-color: dodgerblue;
}
@media(max-width: 450px) {
  .Search input {
    width: 280px;
  }
  .Search button {
    width: 70px;
    margin-left: 10px;
  }
}
@media(min-width: 451px) and (max-width: 700px) {
  .Search input {
    width: 300px;
  }
  .Search button {
    width: 100px;
    margin-left: 15px;
  }
}
@media (min-width: 701px) and (max-width: 1200px) {
  .Search input {
    width: 500px;
  }
  .Search button {
    width: 150px;
    margin-left: 15px;
  }
}
@media (min-width: 1201px) {
  .Search input {
    width: 700px;
  }
  .Search button {
    width: 150px;
    margin-left: 15px;
  }
}