.BooksListWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
}
.BookItems {
  display: grid;
  place-items: center;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(182px, 1fr));
}

@media(max-width: 450px) {
  .BooksListWrapper {
    width: 345px;
  }
}
@media(min-width: 451px) and (max-width: 720px) {
  .BooksListWrapper {
    width: 345px;
  }
}
@media (min-width: 721px) and (max-width: 1200px) {
  .BooksListWrapper {
    width: 95%;
    max-width: 1400px;
  }
}
@media (min-width: 1201px) {
  .BooksListWrapper {
    width: 95%;
    max-width: 1400px;
  }
}